*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 16px;
}

h2 {
    border-bottom: 2px solid #390147; /* linha preta */
}
.header-destaque {
    background: linear-gradient(135deg, #3b234b);
    padding: 20px 0;
}

.header-destaque  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-destaque h1{
    color: rgb(255, 255, 255);
}

.header-destaque ul{
    display: flex;
    gap: 20px;
    list-style: none;
}

.header-destaque a{
    color: rgb(246, 241, 241);
    text-decoration: none;
    font-weight: bold;
}

.sobre{
    padding: 40px 0;
}

.sobre-conteudo{
    display: flex;
    align-items: center;
    gap: 40px;
}

.sobre-conteudo img{
    width: 100%;
    max-width: 450px;
    border-radius: 8px;
}

.texto-sobre{
    flex: 1;
}

.produtos{
    padding: 40px 0;
}

.lista-produtos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.produto {
    background-color: #fbf8ff;
    padding: 16px;
    border-radius: 8px;
    text-align: center;
}

button{
    background-color: #7d1d95;
    color: white;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
}
.produto img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 6px;
}

/* Tablet */
@media (max-width: 1023px) and (min-width: 641px) {
    .lista-produtos {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Mobile */
@media (max-width: 640px) {
    .sobre-conteudo {
        flex-direction: column;
    }

    .lista-produtos {
        grid-template-columns: 1fr;
    }
}
